.headtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:bold;
	border-right:1px solid black;
	height:40px;
}

.subheadtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:bold;
	border-right:1px solid black;
}

.center {
	text-align:center;
}

.headtitle {
	font-family: Arial, Helvetica, sans-serif;
	position:
}

.border{
	border-left:1px solid black;
	border-top:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
}

.bordernotop{
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
}

.bordernoleft{	
	border-top:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
}

.bordernobotom{
	border-left:1px solid black;
	border-top:1px solid black;
	border-right:1px solid black;
}


.borderleft{
	border-left:1px solid black;
}

.bordertop{
	border-top:1px solid black;
}

.borderright{
	border-right:1px solid black;
}

.borderbottom{
	border-bottom:1px solid black;
}

table {
    border: 1px solid black;
}